<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7m1a3Z7EJNG3v_566S81vJTbRn4eOY98</string>
	<key>GCM_SENDER_ID</key>
	<string>158867891040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uricsc305.putuon</string>
	<key>PROJECT_ID</key>
	<string>put-u-on-dev-2fd6e</string>
	<key>STORAGE_BUCKET</key>
	<string>put-u-on-dev-2fd6e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158867891040:ios:dd1da703d0ccd030d93405</string>
</dict>
</plist>